# OS
.DS_Store

# Python
__pycache__/
*.pyc
.newenv/
env/

# Data
#data/raw/
#data/tmp/

# Secrets
.env
*.key

*.csv
*.txt
#*.ipynb
*.vscode
testscripts
*__init__.py
*.ipynb_checkpoints
*__pycache__
# Logs
checkpoints
logs
response
log4lab

pipeline/runnersync.py

.VSCodeCounter
logs
*.log
/*.parquet
data/interim
data/raw
data/processed

test.ipynb
lfscores.ipynb
stamps.ipynb

*.tar.xz
configs/test.ipynb